<div class="flex flex-col">
  <div class="mt-4 border-2 w-96 p-3 relative">
    <p class="text-lg">Please choose edible items:</p>
    <div class="flex flex-wrap gap-3 mt-2">
      @for (image of shuffledImages; track $index) {
      <img
        class="w-20 h-25"
        (click)="permittedImages(image)"
        [src]="'assets/f22998eb-' + image + '.png'"
        [ngClass]="{
          'border-3 border-green-500': clicked.includes(image)
        }"
        alt="captcha"
      />
      }
    </div>
  </div>
  <div class="self-end">
    <app-button label="Go!" (onClick)="nextStep()" />
  </div>
</div>
